
.DS_Store
Documento/Investigacion.pdf
Documento/Investigacion.pdf
Documento/Investigacion.synctex.gz
Documento/Investigacion.log
Documento/Investigacion.aux
Documento/Investigacion.synctex.gz
Documento/Investigacion.pdf
Documento/Investigacion.log
Documento/Investigacion.aux
